@media (min-width: 820px) and (max-width: 1180px) {
  
  .product-information-container { 
    padding: $ZeroPX; 
  }
}

@media (min-width: 600px) and (max-width: 1024px) and (orientation: landscape) {
  
  footer {
      position: relative;
      margin-top: $TwentyPX;
  }
}

@media (min-width: 912px) and (max-width: 1368px) and (orientation: landscape) {
  
  .quantity-button { 
    margin-right: $ZeroPX; 

    .fa-minus { 
      padding-left: $TenPX; 
    } 
  
    .fa-plus { 
      padding-right: $TenPX; 
    } 
  }
  
  .cart-button { 
    margin-left: $ZeroPX; 
  }
}

@media (min-width: 280px) and (max-width: 823px) and (orientation: landscape) {
  
  .navbar { 
    padding-top: $TenPX; 
    padding-bottom: $TwentyPX; 
    
    .navbar-container {
      padding-bottom: $TenPX; 
    }
    
    .nav-link {
      font-weight: bold;
      color: $Black;
      padding: 5px 0;
    }
    
    .header-img {
      padding-bottom: 5px!important;
    }
    
    .cart-qnty {
      padding: 0 10px 5px 0;
    }
    
    .avatar-logo  {
      padding-bottom: 5px;
    }
  }
  
  .product { 
    margin-top: 75px; 
    position: relative;

    .previous {
      left: 3%;
      
      &:hover {
        color: $Orange;
        left: 2%;
      }
    }
    
    .next {
      right: 3%;
      
      &:hover {
        color: $Orange;
        right: 2%;
      }
    }
    
    .arrow {
      position: absolute;
      top: 25%;
      transform: translateY(-50%);
  
      background-color: $White;
      border-radius: 50%;
      width: 50px;
      height: 50px;
  
      display: flex;
      align-items: center;
      justify-content: center;
  
      cursor: pointer;
  
      transition: all 0.3s ease;
    }
    
    .thumbnail-container { 
      display: none 
    }
    
    .product-button {
      display: flex;
      flex-direction: column;
    }
  }
  
  footer {
    font-size: $MediumEM;
    position: relative;
    
    .footer-text { 
      @include NoPadLeftRight; 
    }
  }
}