@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

// ---------- COLOUR VARIABLES ---------- //
$Orange: #FF7D1A;
$Orange_Alpha: rgba(255, 125, 26, 1);
$Pale_Orange: #FFEDE0;
$Black: #1D2025;
$Deep_Grey_Blue: #68707D;
$Grey_Blue: #B6BCC8;
$Light_Grey_Blue: #F7F8FD;
$White: #FFFFFF;
$Black_Alpha: rgba(0,0,0,0.75);

// ---------- DIMENSION SPACING ---------- //
$ZeroPX: 0;
$TenPX: 10px;
$TwentyPX: 20px;

// ---------- WEIGHTS ---------- //
$RegularEM: 1em;
$MediumEM: 0.8em;
$SmallEM: 0.7em;